.container {
    display: grid;

    grid-template-areas:
        "header"
        "content"
        "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 2em auto 3em;
    grid-gap: 10px;

    min-height: 95vh;
}

header {
    grid-area: header;
    background-color: beige;

    text-align: center;
    font-weight: bold;
}


main {
    grid-area: content;
    background-color: beige;
}

footer {
    grid-area: footer;
    background-color: beige;
    text-align: center;
}



#icons {
    width: 320px;
    height: 1em;
    margin-left: 25%;
}

#icons a {
    margin-left: 2em;
}

.fa {
    margin-right: 10px;
    margin-top: .5em;
}





